@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 1000;
}

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-black: hsl(0, 0%, 7%);
  --clr-gray: hsl(0, 0%, 42%);
  --clr-white: hsl(0, 0%, 100%);
  --transition: all 0.3s ease;
  --font-normal: 500;
  --font-bold: 800;
  --radius: 1rem;
  --shadow: 0.5rem 0.5rem var(--clr-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-yellow);
  font-family: 'Figtree Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: var(--font-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  line-height: 1.5;
  background-color: var(--clr-white);
  max-width: 20.45rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: 0.05rem solid var(--clr-black);
}

.card-img {
  display: block;
  width: 100%;
  border-radius: var(--radius);
  min-height: 10rem;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  display: inline-block;
  background-color: var(--clr-yellow);
  padding: 0.2rem 0.5rem;
  align-self: flex-start;
  border-radius: 0.25rem;
}

.title {
  font-weight: var(--font-bold);
  font-size: 1.25rem;
}

.text {
  color: var(--clr-gray);
}

.avatar-img {
  width: 2rem;
  height: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}


@media screen and (min-width: 376px) {
  .card {
    max-width: 24rem;
  }
}